set ignorecase
set clipboard+=unnamed
set keep-english-in-normal
# plugins
set surround
set commentary
set multiple-cursors
set argtextobj
set textobj-entire
set ReplaceWithRegister
set highlightedyank
set exchange
set ideajoin
set ideamarks

" 按键映射
let mapleader=","

" 搜索
nmap / :action Find<CR>
nmap <leader>fm :action RecentChangedFiles<CR>
nmap <leader>ff :action GotoFile<CR>
nmap <leader>fr :action FindInPath<CR>
nmap <leader>fw :w<cr>

vmap < <gv
vmap > >gv

" tab页
map <leader>tn :tabnew<cr>
nnoremap <silent> <leader>th :tabprev<cr>
nnoremap <silent> <leader>tl :tabnext<cr>
nnoremap <silent> <leader>1 1gt
nnoremap <silent> <leader>2 2gt
nnoremap <silent> <leader>3 3gt
nnoremap <silent> <leader>4 4gt
nnoremap <silent> <leader>5 5gt
nnoremap <silent> <leader>6 6gt
nnoremap <silent> <leader>7 7gt
nnoremap <silent> <leader>8 8gt
nnoremap <silent> <leader>9 9gt

# reload vimrc
nmap <leader>vs :action IdeaVim.ReloadVimRc.reload<CR>

map <leader>e :action ActivateProjectToolWindow<CR>
map <leader>t :action ReopenClosedTab<CR>
map <leader>q :action CloseContent<CR>
map <leader>ss :action $EditorTranslateAction<CR>
map <leader>sr :action $TranslateAndReplaceAction<CR>
map <leader>u :action GotoSuperMethod<CR>
map <leader>n :action GotoImplementation<CR>

# code
map <leader>cf :action ReformatCode<CR>
map <leader>cr <Action>(RenameElement)
map <leader>i :action Inline<CR>

# run
nnoremap <leader>re :action ChooseRunConfiguration<CR>
nnoremap <leader>rc :action CompileDirty<CR>
nnoremap <leader>rD :action Debug<CR>
nnoremap <leader>rd :action DebugClass<CR>
nnoremap <leader>rR :action Run<CR>
nnoremap <leader>rr :action RunClass<CR>

# windows multiple0-cursors key maps
nmap <c-n> <A-n>
nmap <c-x> <A-x>
nmap <c-p> <A-p>
vmap <c-n> <A-n>
vmap <c-x> <A-x>
vmap <c-p> <A-p>

# mac multiple0-cursors key maps
nmap <m-n> <A-n>
nmap <m-x> <A-x>
nmap <m-p> <A-p>
vmap <m-n> <A-n>
vmap <m-x> <A-x>
vmap <m-p> <A-p>

# history
nmap <c-o> :action Back<CR>
nmap <c-i> :action Forward<CR>

nmap H ^
nmap L $
vmap H ^
vmap L $
omap H ^
omap L $

nmap Y ^y$

omap ij i"
omap oj o"
vmap ij i"
vmap oj o"

imap <m-j> <c-n>
imap <m-k> <c-p>

noremap <leader>vv :e ~/.ideavimrc<CR>

# window keymapping
nmap <leader>ws :vsplit<CR>
nmap <leader>wS :split<CR>
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-j> <c-w>j
nmap <c-k> <c-w>j

" git
map <leader>gu <Action>(Vcs.RollbackChangedLines)
map <leader>ga <Action>(Annotate)
map <leader>gg <Action>(VcsShowCurrentChangeMarker)

" navicat
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)

imap <c-n> <Action>(CodeCompletion)