set ignorecase
set clipboard+=unnamed
" set keep-english-in-normal
" 回到insert模式时恢复输入法
set keep-english-in-normal-and-restore-in-insert
set hlsearch
set incsearch
set smartcase
set which-key
set timeoutlen=10000

# plugins
set surround
set commentary
set multiple-cursors
set argtextobj
set textobj-entire
set textobj-indent
set ReplaceWithRegister
set highlightedyank
set exchange
set ideajoin
set ideamarks
set NERDTree

let mapleader=","

let g:WhichKeyDesc_windows="<leader>w Windows"

nmap yr <Action>(CopyReference)

" leetCode
nmap <leader>lr <Action>(leetcode.RunCodeAction)
nmap <leader>ls <Action>(leetcode.SubmitAction)

" idea maven
nmap <leader>mr <Action>(Maven.Reimport)

" 搜索
nmap <leader>fm :action RecentChangedFiles<CR>
nmap <leader>ff :action SearchEverywhere<CR>
nmap <leader>fr :action FindInPath<CR>
nmap <leader>fc :action GotoClass<CR>
nmap <leader>fb :action ShowBookmarks<CR>
nmap <leader>fw :w<cr>

nmap <leader>fe :NERDTreeFind<CR>

vmap < <gv
vmap > >gv

" tab页
nmap <silent> <leader>tn :action NewScratchFile<cr>
nmap <learer>tr :action ReopenClosedTab<CR>
nmap <leader>to <Action>(CloseAllEditorsButActive)
nmap <silent> <leader>1 1gt
nmap <silent> <leader>2 2gt
nmap <silent> <leader>3 3gt
nmap <silent> <leader>4 4gt
nmap <silent> <leader>5 5gt
nmap <silent> <leader>6 6gt
nmap <silent> <leader>7 7gt
nmap <silent> <leader>8 8gt
nmap <silent> <leader>9 9gt
nmap <silent> <left> <Action>(PreviousTab)
nmap <silent> <right> <Action>(NextTab)

nmap <leader>i <Action>(ActivateStructureToolWindow)
nmap <leader>q :action CloseContent<CR>
nmap <leader>d :b#<cr>
nmap <leader>a <Action>(CloseAllEditors)
nmap <leader>n /uvclewrq<cr>

nmap <leader>vs <Action>(IdeaVim.ReloadVimRc.reload)
nmap <leader>vc :set ic!<cr>
nmap <leader>e :NERDTree<CR>

map <leader>ss :action $EditorTranslateAction<CR>
map <leader>sr :action $TranslateAndReplaceAction<CR>

nmap gu :action GotoSuperMethod<CR>
nmap gn :action GotoImplementation<CR>
nmap gy :action GotoTypeDeclaration<CR>
nmap gb :action ShowUsages<CR>

# code
map <leader>cf :action ReformatCode<CR>
map <leader>cr <Action>(RenameElement)
map <leader>cm <Action>(ChangeSignature)
map <leader>cg <Action>(Generate)
map <leader>ci :action Inline<CR>
map <leader>cc <Action>(ShowIntentionActions)

# run
nmap <leader>re :action ChooseRunConfiguration<CR>
nmap <leader>rc :action CompileDirty<CR>
nmap <leader>rD :action Debug<CR>
nmap <leader>rd :action DebugClass<CR>
nmap <leader>rD :action Run<CR>
nmap <leader>rr :action RunClass<CR>

" 跳转
nmap <leader>jl :action JumpToLastChange<CR>
nmap <leader>jn :action JumpToNextChange<CR>

" 调试
nmap <leader>bb :action ToggleLineBreakpoint<CR>

# windows multiple0-cursors key maps
nmap <c-n> <A-n>
nmap <c-x> <A-x>
nmap <c-p> <A-p>
vmap <c-n> <A-n>
vmap <c-x> <A-x>
vmap <c-p> <A-p>

# mac multiple0-cursors key maps
nmap <m-n> <A-n>
nmap <m-x> <A-x>
nmap <m-p> <A-p>
vmap <m-n> <A-n>
vmap <m-x> <A-x>
vmap <m-p> <A-p>

# history
sethandler <c-o> n-v:vim i:vim
sethandler <c-i> n-v:vim i:vim
nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)

imap <m-p> <Action>(ParameterInfo)
imap <A-p> <Action>(ParameterInfo)

nmap H ^
nmap L $
vmap H ^
vmap L $
omap H ^
omap L $

nmap Y ^y$

omap ij i"
omap aj a"
omap oj o"
vmap ij i"
vmap aj a"
vmap oj o"

imap <m-j> <c-n>
imap <m-k> <c-p>

noremap <leader>vv :e ~/.ideavimrc<CR>

# window keymapping
nmap <leader>ws :vsplit<CR>
nmap <leader>wS :split<CR>
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-j> <c-w>j
nmap <c-k> <c-w>j

" git
map <leader>gu <Action>(Vcs.RollbackChangedLines)
map <leader>gb <Action>(Annotate)
map <leader>gg <Action>(VcsShowCurrentChangeMarker)
map <leader>gv <Action>(Compare.SameVersion)

" navicat
nmap [g <Action>(VcsShowPrevChangeMarker)
nmap ]g <Action>(VcsShowNextChangeMarker)
nmap [e :action GotoPreviousError<CR>
nmap ]e :action GotoNextError<CR>

imap <c-n> <Action>(CodeCompletion)

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapCloseDir='h'
let g:NERDTreeMapToggleZoom='z'
