set ignorecase

set keep-english-in-normal-and-restore-in-insert

set surround
set commentary
set multiple-cursors
set argtextobj
set textobj-entire
set ReplaceWithRegister

set clipboard+=unnamed

""" keymap
let mapleader=","
" tab
map <leader>tn :tabnew<cr>
nnoremap <silent> <leader>th :tabprev<cr>
nnoremap <silent> <leader>tl :tabnext<cr>
nnoremap <silent> <leader>1 1gt
nnoremap <silent> <leader>2 2gt
nnoremap <silent> <leader>3 3gt
nnoremap <silent> <leader>4 4gt
nnoremap <silent> <leader>5 5gt
nnoremap <silent> <leader>6 6gt
nnoremap <silent> <leader>7 7gt
nnoremap <silent> <leader>8 8gt
nnoremap <silent> <leader>9 9gt

map <leader>h :action PreviousTab<CR>
map <leader>l :action NextTab<CR>
map <leader>r :action Replace<CR>
map <leader>f :action Find<CR>
map <leader>t :action ReopenClosedTab<CR>
map <leader>q :action CloseContent<CR>


# nmap <c-o> :action Back<CR>
# nmap <c-i> :action Forward<CR>
