priority -50

snippet sw "switch" w
switch ($1) {
	case $2: $0
}
endsnippet

snippet th "throw" w
throw new $0
endsnippet

snippet wh "while" w
while ($1) {
	$0
}
endsnippet

snippet sout "sout" w
System.out.println($1);
endsnippet

snippet fori "fori" w
for (int ${1:i} = 0; $1 < ${2:10}; $1++) {
	$0
}
endsnippet
